:root {
    --vermelho: #E50914;
    --preto: linear-gradient(138deg, rgba(46,46,48,1) 0%, rgba(115,115,115,1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

.navegacao {
    margin-right: 20px;
}

.navegacao a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao a:hover {
    color: #FFF;
    transition: .3s ease all;
}




/* =================================================================
Filme Principal
==============*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../images/orange.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    border-radius: 6px;
    margin: 15px 20px 15px 20px;

    box-shadow: 0 2px 9px 2px rgb(48, 48, 48);
}

.filme-principal .container {
    padding: 5px;
}

.filme-principal .descricao {
    margin-bottom: 30px;
    max-width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.filme-principal:hover {
    border-width: 3px;

    box-shadow: 0 2px 9px 6px rgb(32, 32, 32);

    cursor: pointer;
    transition: .3s ease all;
}

/*----------------------------------------------------------------
Catalogo
================================================================*/

.container {
    margin-left: 20px;
}

.titulo {
    font-family: Oswald;
    font-size: 48px;
}

.descricao {
    font-family: Noto Sans;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border-radius: 3px;
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;

    cursor: pointer;
}

.botao i {
    margin-right: 8px;
}

.botao:hover {
    background-color: white;
    color: black;
    font-weight: 500;

    transition: .3s ease all;
}

.carrosel-filmes {
    margin-top: 9px;
    margin-left: 20px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    
    box-shadow: 0 2px 9px 2px rgb(48, 48, 48);
    
    border-radius: 2px;
    cursor: pointer;
}

.box-filme:hover {
    opacity: 0.8;
    transition: .3s;
    height: 103%;
    width: 103%;

    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 9px 6px rgb(32, 32, 32);
}

.subtitles {
    font-family: Oswald;
    font-size: 34px;   
}