@media screen and (max-width: 720px) {
     header .container {
         display: flex;
         flex-direction: column;
     }

     .titulo {
         font-size: 36px;
     }

     .descricao {
         font-size: 13.5px;
         width: 70%;
         margin-top: 3px;
     }
     
     .botao {
         margin-top: 3px;
    }
}

